version: "3.9"
services:
  mysql:
    image: mysql:8.0
    container_name: movie_ticketing_db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: admin
      MYSQL_DATABASE: movie_ticketing
      MYSQL_USER: admin
      MYSQL_PASSWORD: admin
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
  backend:
    build: .
    ports:
      - "8080:8080"
    environment:
      MOVIE_DB_URL: jdbc:mysql://mysql:3306/movie_ticketing
      MOVIE_DB_USERNAME: admin
      MOVIE_DB_PASSWORD: admin
    depends_on:
      - mysql
volumes:
  mysql-data:
    name: movie_ticketing_data
